body {
    background-image: url("../../assets/images/bg4.jpg");
    background-size: cover;
    height: 92.3%;
    opacity: 0.75;
   }

   .start{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content:space-around;
    align-items:center
   }

   .link{
       margin-bottom: 20em;
       font-size:x-large;
       text-transform: uppercase;
   }

   a:link, a:visited {
    position:relative;
    background-color: white;
    color: black;
    border: 2px solid green;
    border-radius: 12px;
    padding: 20px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }

  a:hover, a:active {
    background-color: green;
    color: white;
  }
