
mat-spinner {
  margin: auto;
}

.journal-card{
  width: 100%;
  padding: 5px;
  margin-top: 5px;
  background-color:rgb(255, 255, 255);
  border-radius: 12px;
  border: hidden;
  transition-duration: 0.4s;
  position: inherit;
}

.journal-card:hover{
background-color: rgb(127, 142, 218);
}

.card-style{
border-radius: 12px;
text-align-last: calc();

}

.flex-container{
display: flex;
height: 100%;
width: 100%;
}

.flex-child.display{
flex: 1;
margin: 0 0 0 0;
padding: 5px 5px 0 10px;
overflow-y:auto;
max-height: 100vh;
overflow-y: scroll;
scrollbar-color: rgb(224, 233, 231) white;
scrollbar-width: thin;

}
.flex-child.edit{
flex: 2;
margin: 0 0 0 0;
padding: 0 0 0 0;
overflow-y:auto;
max-height: 100vh;
width: auto;
align-items: center;
align-content: center;
justify-content: center;
background-size: cover;
background-image: url("../../assets/images/bg2.jpg");
opacity: 0.75;
background-position-x: center;
}
#prompted-edit{
display: none;
}
#unprompted-edit{
display: none;
}

.delete-button{
transition: 0.5s;
}

.delete-button:after {
content: "🗑";
position: absolute;
opacity: 0;
top: 0;
right: -20px;
transition: 0.5s;
}

.delete-button:hover{
padding-right: 24px;
padding-left:8px;
}

.delete-button:hover:after {
opacity: 1;
right: 10px;
}

/* #edit{
display: none;
} */


.tip {
  background-color: rgba(138, 200, 50);
  z-index: 1;
  right: 0;
  margin-right: 5%;
  margin-top: 2%;
  position: absolute;
}

.wave {
  animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s;        /* Change to speed up or slow down */
  animation-iteration-count: infinite;  /* Never stop waving :) */
  transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
  display: inline-block;
  font-size: 20px;
}

.nothingSelected {
  font-family: arial;
  font-size: 24px;
  margin: 20%;
  height: 200px;
  /* Setup */
  position: relative;
}

.nothingSelectedChild {
  height: 50px;
  width: 100%;
  /* Center vertically and horizontally */
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: rgba(0, 0, 0, 0.924);
  font-size: 1.4rem;
}


@keyframes wave-animation {
    0% { transform: rotate( 0.0deg) }
   10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
   20% { transform: rotate(-8.0deg) }
   30% { transform: rotate(14.0deg) }
   40% { transform: rotate(-4.0deg) }
   50% { transform: rotate(10.0deg) }
   60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
  100% { transform: rotate( 0.0deg) }
}
