mat-spinner {
  margin: auto;
}

.journal-card {
  width: 100%;
}

.flex-container {
  display: flex;
  height: (100vh - 64px);
  width: (100vw - 200px);
}

.flex-child.display {
  flex: 1;
  margin: 0 0 0 0;
  padding: 0 0 0 10px;
  overflow-y: auto;
  max-height: 100vh;
}
.flex-child.edit {
  flex: 2;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  overflow-y: auto;
  max-height: 100vh;
  width: auto;
}
#prompted-edit {
  display: none;
}
#unprompted-edit {
  display: none;
}

.tip {
  background-color: rgba(138, 200, 50);
  z-index: 1;
  right: 0;
  margin-right: 5%;
  margin-top: 2%;
  position: absolute;
}

.wave {
  animation-name: wave-animation; /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s; /* Change to speed up or slow down */
  animation-iteration-count: infinite; /* Never stop waving :) */
  transform-origin: 70% 70%; /* Pivot around the bottom-left palm */
  display: inline-block;
  font-size: 20px;
}

.nothingSelected {
  font-family: arial;
  font-size: 24px;
  margin: 20%;
  height: 200px;
  /* Setup */
  position: relative;
}

.nothingSelectedChild {
  height: 50px;
  width: 100%;
  /* Center vertically and horizontally */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  } /* The following five values can be played with to make the waving more or less extreme */
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  } /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg);
  }
}
