
mat-spinner {
  margin: auto;
}

.journal-card{
  width: 100%;
  padding: 5px;
  margin-top: 5px;
  background-color:rgb(255, 255, 255);
  border-radius: 12px;
  border: hidden;
  transition-duration: 0.4s;
  position: inherit;
}

.journal-card:hover{
background-color: rgb(127, 142, 218);
}

.card-style{
border-radius: 12px;
text-align-last: calc();

}

.flex-container{
display: flex;
height: 100%;
width: 100%;
}

.flex-child.display{
flex: 1;
margin: 0 0 0 0;
padding: 5px 5px 0 10px;
overflow-y:auto;
max-height: 100vh;
overflow-y: scroll;
scrollbar-color: rgb(224, 233, 231) white;
scrollbar-width: thin;

}
.flex-child.edit{
flex: 2;
margin: 0 0 0 0;
padding: 0 0 0 0;
overflow-y:auto;
max-height: 100vh;
width: auto;
align-items: center;
align-content: center;
justify-content: center;
background-size: cover;
background-image: url("../../assets/images/bg2.jpg");
opacity: 0.75;
background-position: right bottom;
}
#prompted-edit{
display: none;
}
#unprompted-edit{
display: none;
}

.delete-button{
transition: 0.5s;
}

.delete-button:after {
content: "🗑";
position: absolute;
opacity: 0;
top: 0;
right: -20px;
transition: 0.5s;
}

.delete-button:hover{
padding-right: 24px;
padding-left:8px;
}

.delete-button:hover:after {
opacity: 1;
right: 10px;
}

/* #edit{
display: none;
} */
