mat-spinner {
  margin: auto;
}
.info-text {
  text-align: center;
}

.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}

.mat-h1{
  margin-left: 1em;
}

button {
  margin: 5px;
}

.mat-raised-button {
  background-color: #48A9A6;
}

