<h1 style="text-align: center; padding: 25px">
  What are cognitive distortions?
</h1>

<table class="styled-table">
  <thead>
    <tr>
      <th>Cognitive Distortion</th>
      <th>Definition</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>ALL OR NOTHING THINKING</td>
      <td>
        Leads you to perceive things at the extremes by removing the middle
        ground or room for mistakes.
      </td>
    </tr>
    <tr>
      <td>BLAMING OTHERS</td>
      <td>
        Involves holding other people antirely accountable for a negative
        outcome.
      </td>
    </tr>
    <tr>
      <td>CATASTROPHIZING</td>
      <td>
        Thinking about disatrous possibilties based on a relatively small
        observation or event; it can lead to believing that the worst case
        scenario is the one that will play out.
      </td>
    </tr>
    <tr>
      <td>EMOTIONAL REASONING</td>
      <td>"If I feel that way, it must be true"</td>
    </tr>
    <tr>
      <td>FORTUNE TELLING</td>
      <td>
        Refers to making dramatic predictions about the future with little or no
        evidence.
      </td>
    </tr>
    <tr>
      <td>LABELING</td>
      <td>
        Involves assigning negative global judgment amount of evidence based on
        a small amount of evidence.
      </td>
    </tr>
    <tr>
      <td>MAGNIFYING THE NEGATIVE</td>
      <td>
        Filtering or tunnel vision, magnifying the negative fixates our thoughts
        on only the negative parts of a situation.
      </td>
    </tr>
    <tr>
      <td>MIND READING</td>
      <td>
        Making assumptions about what others a thinking and feeling based on
        limited evidence.
      </td>
    </tr>
    <tr>
      <td>MINIMIZING THE POSITIVE</td>
      <td>Actively reduces the volume of anything good.</td>
    </tr>
    <tr>
      <td>OVERGENERALIZATION</td>
      <td>You draw broad conclusions based on just one piece of evidence.</td>
    </tr>
    <tr>
      <td>SELF-BLAMING</td>
      <td>
        Involves believing that you are entirely responsible for a negative
        sitatuion, even for factors that are outside of your control.
      </td>
    </tr>
    <tr>
      <td>SHOULD STATEMENTS</td>
      <td>
        Involve creating narrow and inflexible rules abouw how you and other
        people should behave.
      </td>
    </tr>
  </tbody>
</table>

