<nav>
    <h3 style="text-align: center;">Journal Entry</h3>
</nav>
<div class="container">
    <form class="datepicker">
        <mat-form-field appearance="outline">
            <mat-label>Choose a date</mat-label>
            <input matInput [matDatepicker]="myDatePicker">
            <mat-datepicker-toggle [for]="myDatePicker" matSuffix></mat-datepicker-toggle>
            <mat-datepicker touchUi #myDatePicker></mat-datepicker>
        </mat-form-field>
    </form>

    <div class="row">
        <div class="col-md-12">
            <quill-editor [styles]="{height:'300px'}" 
            [modules]="editorModule"
            (onFocus)="focus($event)" 
            (onEditorChanged)="changedEditor($event)" 
            (onBlur)="blur($event)"
            (onEditorCreated)="created($event)">
            </quill-editor>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8">
            <p [innerHtml]="editorText"></p>
        </div>
    </div>
    <button mat-flat-button (click)="openDialog()" class="save-button" color="accent" type="submit" >Save</button>


</div>