<div class="grid-container">
<mat-card class="blog mat-elevation-z3">
  <h3 style="text-align: center;">Journal Entry</h3>
  <form class="datepicker">
        <mat-form-field appearance="outline">
            <mat-label>Choose a date</mat-label>
            <input matInput [matDatepicker]="myDatePicker">
            <mat-datepicker-toggle [for]="myDatePicker" matSuffix></mat-datepicker-toggle>
            <mat-datepicker touchUi #myDatePicker></mat-datepicker>
        </mat-form-field>
    </form>
  <mat-card-content>
    <form (ngSubmit)="onSubmit()" [formGroup]="myForm">
      <mat-form-field style="padding-bottom: 20px;" class="title">
        <input
          matInput
          [formControl]="myForm.controls.title"
          [ngModel]="post?.title"
          placeholder="Title"
          type="text"/>

        <mat-error *ngIf="myForm.controls.title.hasError('required')">
          Title is required
        </mat-error>
      </mat-form-field>

      <div class="mat-form-field-wrapper">
        <editor
          apiKey="qagffr3pkuv17a8on1afax661irst1hbr4e6tbv888sz91jc"
          [formControl]="myForm.controls.body"
          [ngModel]="post?.content"
          class="mat-elevation-z1"
          (onInit)="handleEditorInit($event)"
          [init]="{
            icons: 'material',
            skin: 'borderless',
            menubar: true,
            min_height: 150
          }"
        ></editor>

        <div class="mat-form-field-subscript-wrapper">
          <mat-error *ngIf="myForm.controls.body.hasError('maxlength')">
            Your post exceeds exceeds the character limit
            {{ myForm.controls.body.getError('maxlength').actualLength }} /
            {{ myForm.controls.body.getError('maxlength').requiredLength }}
          </mat-error>

          <mat-error *ngIf="myForm.controls.body.touched && myForm.controls.body.hasError('required')">
            This form is required
          </mat-error>
        </div>
      </div>
    </form>
  </mat-card-content>

  <mat-card-actions align="end">
    <button mat-raised-button (click)="onSubmit()" [disabled]="!myForm.valid">
      Submit
    </button>
  </mat-card-actions>
</mat-card>
</div>
