<div class="grid-container">
<h1 class="mat-h1">
  Prompted Journals

</h1>
<mat-accordion multi="true" *ngIf="entries.length > 0">
  <mat-expansion-panel *ngFor="let entry of entries">
    <mat-expansion-panel-header>
      <h2>{{ entry.title }}</h2>
    </mat-expansion-panel-header>
    <dl>
      <dt>What Happened</dt>
      <dd>{{ entry.what_happened }}</dd>

      <dt>What Was Going Through My Mind</dt>
      <dd>{{ entry.going_through_mind }}</dd>

      <dt>First Emotion I Was Feeling</dt>
      <dd>{{ entry.emotion1 }}, Intensity: {{entry.intensity1}}</dd>

      <dt>Second Emotion I Was Feeling</dt>
      <dd>{{ entry.emotion2 }}, Intensity: {{entry.intensity2}}</dd>

      <dt>My Thought Patterns</dt>
      <dd>{{ entry.thought_patterns }}</dd>

      <dt>Additional Thought Patterns</dt>
      <dd>{{ entry.custom_thought_patterns }}</dd>

      <dt>FHow I could Think Differently</dt>
      <dd>{{ entry.thinking_differently }}</dd>
    </dl>
    <mat-action-row>
      <button mat-button color="primary" [routerLink]="['/edit', entry.id]">EDIT</button>
      <button mat-button color="warn" (click)="onDelete(entry.id)">DELETE</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<p class="info-text mat-body-1" *ngIf="entries.length <= 0">No journal entries added yet!</p>
</div>
