.save-button {
  margin-top: 3em;
  margin-right: 8px;
  color: rgb(241, 245, 245);
}

.datepicker{
margin-left: 8px;
font-size: small;
width: 250px;
}

.mat-slider {
width: 300px;
}

/* .grid-container {
  margin: 20px;
} */

.mat-raised-button {
  background-color: #48A9A6;
  color: white;
  display: flex;
  justify-content: flex-end;
}

mat-icon {
  padding: 5px;
  cursor: pointer;
}

.stepbutton{
  float: right;
  margin-top: 5%;
  margin-right: 2%;
  color: #48A9A6;
  background-color: aliceblue;
}

.savebutton{
  float: right;
  margin-top: 5%;
  margin-right: 2%;
}

