<div class="grid-container">

  <mat-card>
    <h3 style="text-align: center">Guided Journal</h3>
    <mat-form-field class="datepicker" appearance="outline">
      <mat-label>Choose a date</mat-label>
      <input matInput [matDatepicker]="dp" [formControl]="date" />
      <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
      <mat-datepicker #dp></mat-datepicker>
    </mat-form-field>

    <form #postForm="ngForm" >

      <label for="title">Title</label>
      <mat-form-field>
        <input matInput type="text" name="title" [ngModel]="entry?.title" required minlength="3"
          placeholder="Journal Title" #title="ngModel">
        <mat-error *ngIf="title.invalid">Please enter a post title.</mat-error>
      </mat-form-field>

      <mat-horizontal-stepper linear [labelPosition]=" 'bottom' " >
        <mat-step label="🤔">
            <label for="what_happened">What Happened?</label>
            <mat-form-field>
              <textarea matInput rows="4" name="what_happened" [ngModel]="entry?.what_happened" required
                placeholder="Describe the situation" #what_happened="ngModel"></textarea>
              <mat-error *ngIf="what_happened.invalid">Please describe what happened.</mat-error>
            </mat-form-field>
            <mat-action-row>
              <button  class="stepbutton" mat-button matStepperNext type="button">Next</button>
            </mat-action-row>
        </mat-step>

        <mat-step label="🧠">
            <label for="going_through_mind">What is going through your mind?</label>
            <mat-form-field>
              <textarea matInput rows="4" name="going_through_mind" [ngModel]="entry?.going_through_mind" required
                placeholder="Describe your thoughts." #going_through_mind="ngModel"></textarea>
              <mat-error *ngIf="going_through_mind.invalid">Please describe your thoughts on the situation.</mat-error>
            </mat-form-field>
            <div>
              <button  class="stepbutton" mat-button matStepperNext type="button">Next</button>
              <button class="stepbutton" mat-button matStepperPrevious>Back</button>
            </div>
        </mat-step>

        <mat-step label="😀">
          <div>
            <label for="emotion1">What emotions are you feeling?</label>
            <mat-icon mat-button (click)="openFeelingsDialog()">help_outline</mat-icon>
            <mat-form-field>
              <textarea matInput rows="4" name="emotion1" [ngModel]="entry?.emotion1" required
                placeholder="An emotion you are feeling" #emotion1="ngModel"></textarea>
              <mat-error *ngIf="emotion1.invalid">Please enter an emotion.</mat-error>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Intensity of emotion</mat-label>
              <mat-select id="intensity1" name="intensity" [(value)]="intensity1">
                <mat-option *ngFor="let intensity of intensities" [value]="intensity" ngDefaultControl name="intensity1"
                  [ngModel]="entry?.intensity1" #intensity1="ngModel">
                  {{intensity}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field>
              <textarea matInput rows="4" name="emotion2" [ngModel]="entry?.emotion2" required
                placeholder="An emotion you are feeling" #emotion2="ngModel"></textarea>
              <mat-error *ngIf="emotion2.invalid">Please enter an emotion.</mat-error>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Intensity of emotion</mat-label>
              <mat-select id="intensity2" name="intensity" [(value)]="intensity2">
                <mat-option *ngFor="let intensity of intensities" [value]="intensity" ngDefaultControl name="intensity2"
                  [ngModel]="entry?.intensity2" #intensity2="ngModel">
                  {{intensity}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field>
              <input matInput [hidden]="true" />
            </mat-form-field>
            <button  class="stepbutton" mat-button matStepperNext type="button">Next</button>
            <button class="stepbutton" mat-button matStepperPrevious>Back</button>
          </div>
        </mat-step>

        <mat-step label="🌈">
          <div>
            <fieldset>
              <legend>Identify Your Thought Patterns<mat-icon mat-button (click)="openDistortionDialog()">help_outline
                </mat-icon>
              </legend>
              <div>
                <input type="checkbox" id="C001" name="thought_patterns" value="all_or_nothing" (change)="changeSelection()">
                <label for="all_or_nothing">All or Nothing</label>
              </div>
              <div>
                <input type="checkbox" id="C002" name="thought_patterns" value="blaming_others" (change)="changeSelection()">
                <label for="blaming_others">Blaming Others</label>
              </div>
              <div>
                <input type="checkbox" id="C003" name="thought_patterns" value="catastrophizing" (change)="changeSelection()">
                <label for="catastrophizing">Catastrophizing</label>
              </div>
              <div>
                <input type="checkbox" id="C004" name="thought_patterns" value="emotional_reasoning"
                  (change)="changeSelection()">
                <label for="emotional_reasoning">Emotional Reasoning</label>
              </div>
              <div>
                <input type="checkbox" id="C005" name="thought_patterns" value="fortune_telling" (change)="changeSelection()">
                <label for="fortune_telling">Fortune Telling</label>
              </div>
              <div>
                <input type="checkbox" id="C006" name="thought_patterns" value="labeling" (change)="changeSelection()">
                <label for="labeling">Labeling</label>
              </div>
              <div>
                <input type="checkbox" id="C007" name="thought_patterns" value="magnifying_the_negative"
                  (change)="changeSelection()">
                <label for="magnifying_the_negative">Magnifying the Negative</label>
              </div>
              <div>
                <input type="checkbox" id="C008" name="thought_patterns" value="mind_reading" (change)="changeSelection()">
                <label for="mind_reading">Mind Reading</label>
              </div>
              <div>
                <input type="checkbox" id="C009" name="thought_patterns" value="minimizing_the_positive"
                  (change)="changeSelection()">
                <label for="minimizing_the_positive">Minimizing the Positive</label>
              </div>
              <div>
                <input type="checkbox" id="C0010" name="thought_patterns" value="overgeneralization"
                  (change)="changeSelection()">
                <label for="overgeneralization">Overgeneralization</label>
              </div>
              <div>
                <input type="checkbox" id="C0011" name="thought_patterns" value="self_blaming" (change)="changeSelection()">
                <label for="self_blaming">Self-Blaming</label>
              </div>
              <div>
                <input type="checkbox" id="C0012" name="thought_patterns" value="should_statements"
                  (change)="changeSelection()">
                <label for="should_statements">Should Statements</label>
              </div>
            </fieldset>
            <button  class="stepbutton" mat-button matStepperNext type="button">Next</button>
            <button class="stepbutton" mat-button matStepperPrevious>Back</button>
          </div>
        </mat-step>

        <mat-step label="📚">
          <div>
            <label for="custom_thought_patterns">What thought patterns aren't listed?</label>
            <mat-form-field>


              <textarea matInput rows="4" name="custom_thought_patterns" [ngModel]="entry?.custom_thought_patterns"
                placeholder="Thought patterns not listed" #custom_thought_patterns="ngModel"></textarea>

            </mat-form-field>
            <button  class="stepbutton" mat-button matStepperNext type="button">Next</button>
            <button class="stepbutton" mat-button matStepperPrevious>Back</button>
          </div>
        </mat-step>

        <mat-step label="💪">
          <div>

            <label for="thinking_differently">How can you think about the situation differently?</label>
            <mat-form-field>
              <textarea matInput rows="4" name="thinking_differently" [ngModel]="entry?.thinking_differently" required
                placeholder="Change your thoughts" #thinking_differently="ngModel"></textarea>
              <mat-error *ngIf="thinking_differently.invalid">Please describe how you can think differently.</mat-error>
            </mat-form-field>
            <button class="savebutton"mat-raised-button  (click)="onSaveEntry(postForm)" type="submit" [disabled]="!postForm.valid">Save Entry</button>
             <button class="stepbutton" mat-button matStepperPrevious>Back</button>
          </div>
        </mat-step>

      </mat-horizontal-stepper>
    </form>
  </mat-card>
</div>

