/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: lato;
  src: url(assets/font/Lato/Lato-Regular.ttf) format("opentype");
}
* {
  font-family: 'lato', Roboto, "Helvetica Neue", sans-serif ;
}

mat-form-field,
textarea {
  width: 100%;
}

:host {
  display: block;
  margin-top: 1rem;
}

.info-text {
  text-align: center;
}

html, body, main { height: 100%; }
body { margin: 0; font-family: 'lato', Roboto, "Helvetica Neue", sans-serif !important;}

.grid-container {
  margin-right: 100px !important;
  margin-left: 100px !important;
}

.example-spacer {
  flex: 1 1 auto;
}
