.ratemood{
  margin-top: 10%;
text-align: center;
font-size: x-large;
}

section.text{
  font-family: Tahoma;
  font-size: 18px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 26px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1em 0;
  color:coral;
}

section.bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  scale: 115%;
}

.okButton{
  margin-top: 1em;
  float: left;
  width: 100px;
  margin-right: 10px;
}

.cancelButton{
  margin-top: 1em;
  float: right;
  width: 100px;
}
