
<mat-spinner *ngIf="isLoading"></mat-spinner>


 <div class="parent clearfix " *ngIf="!isLoading">
  <div class="bg-illustration" >
    <img src="assets/images/Logo.svg" alt="logo">
    <div class="burger-btn">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
  <div class="login">
    <div class="container" >
      <h1>Anxiety Knot</h1>
      <div class="login-form">
        <form action="">
          <form [formGroup]="signupForm" (ngSubmit)="onSignup()"  >

      <input formControlName="username" type="username" name="username"  placeholder="Username">
          <span class="text-danger" *ngIf="signupForm.controls['username'].dirty && signupForm.hasError('required','username') ||
          signupForm.controls['username'].hasError('minlength') ">
            *Username Requires At Least 6 Characters!</span>

      <input formControlName="email" type="email" name="email"  placeholder="E-mail Address" >
           <span class="text-danger" *ngIf="signupForm.controls['email'].dirty && signupForm.hasError('required','email') ||
            ( signupForm.controls['email'].dirty && !signupForm.controls['email'].valid )">
             *Enter A Valid Email!</span>


      <input formControlName="password" type="password" name="password" placeholder="Password" >
          <span class="text-danger" *ngIf="signupForm.controls['password'].dirty && signupForm.hasError('required','password')">
            *Password is required!</span>
            <span class="text-danger" *ngIf="signupForm.controls['password'].dirty && signupForm.controls['password'].hasError('minlength') ">
              *Enter At Least 8 Characters!</span>

      <input formControlName="confirmPassword" type="password" name="confirmPassword" placeholder="Confirm Password">
          <span class="text-danger" *ngIf="signupForm.controls['confirmPassword'].dirty && signupForm.hasError('required','confirmPassword') ||
           (signupForm.controls['confirmPassword'].dirty && !signupForm.controls['confirmPassword'].valid )">
            *Must Confirm Password!</span>
            <span class="text-danger" *ngIf="signupForm.controls['confirmPassword'].dirty && signupForm.controls['confirmPassword'].hasError('minlength') ">
              *Enter At Least 8 Characters!</span>

          <div>
            <button type="submit" >Sign Up</button>

          </div>
        </form>
          <a routerLink="/login">Already have an account? Click to Login!</a>
        </form>

      </div>

    </div>
  </div>
</div>
